<h3>Register a CEP</h3>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="campo">campo</label>
    <input id="campo" type="text" name="campo" #campo />
  </div>
  <div>
    <label for="logradouro">logradouro</label>
    <input id="logradouro" type="text" name="logradouro" #logradouro />
  </div>
  <div>
    <label for="complemento">complemento</label>
    <input id="complemento" type="text" name="complemento" #complemento />
  </div>
  <div>
    <label for="bairro">bairro</label>
    <input id="bairro" type="text" name="bairro" #bairro />
  </div>
  <div>
    <label for="localidade">localidade</label>
    <input id="localidade" type="text" name="localidade" #localidade />
  </div>
  <div>
    <label for="uf">uf</label>
    <input id="uf" type="text" name="uf" #uf />
  </div>
  <div>
    <label for="ibge">ibge</label>
    <input id="ibge" type="text" name="ibge" #ibge />
  </div>
  <div>
    <label for="gia">gia</label>
    <input id="gia" type="text" name="gia" #gia />
  </div>
  <div>
    <label for="ddd">ddd</label>
    <input id="ddd" type="text" name="ddd" #ddd />
  </div>
  <div>
    <label for="siafi">siafi</label>
    <input id="siafi" type="text" name="siafi" #siafi />
  </div>
  <button
    class="button"
    (click)="
      addCep(
        campo.toString(),
        logradouro.toString(),
        complemento.toString(),
        bairro.toString(),
        localidade.toString(),
        uf.toString(),
        ibge.toString(),
        gia.toString(),
        ddd.toString(),
        siafi.toString()
      )
    "
  >
    Register
  </button>
</form>
