<h3>Register a CEP</h3>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="cep"> Id </label>
    <input id="id" type="text" name="id" #cep />
  </div>

  <div>
    <label for="cep"> Campo </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>
  <div>
    <label for="cep"> Logradouro </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>
  <div>
    <label for="cep"> Complemento </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>
  <div>
    <label for="cep"> Bairro </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>

  <div>
    <label for="cep"> Localidade </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>

  <div>
    <label for="cep"> UF </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>
  <div>
    <label for="cep"> IBGE </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>

  <div>
    <label for="cep"> GIA </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>

  <div>
    <label for="cep"> DDD </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>

  <div>
    <label for="cep"> SIAFI </label>
    <input id="cep" type="text" name="cep" #cep />
  </div>

  <button class="button" (click)="addCep()">Search</button>
</form>
